<div class="container">
    <div class="row">
        <div class="col-3">Total views: </div>
        <div class="col-4">
            <span id="totalViewsCount"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">Active users: </div>
        <div class="col-4">
            <span id="totalUsersCount"></span>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/userTotalView.js"></script>
